.calculator {
	width: 400px;
	background-color: #000;
	color: #fff;
}
.screen {
	color: #fff;
	font-size: 40px;
	text-align: right;
	padding: 20px 5px;
}
.calculator-button {
	background-color: #d8d9db;
	color: #000;
	height: 100px;
	width: 24.5%;
	border: none;
	border-radius: 0;
	font-size: 40px;
	cursor: pointer;
}
.calculator-button:hover {
	background-color: #ebebeb;
}
.calculator-button:active {
	background-color: #bbbcbe;
}
.double {
	width: 49.7%;
}
.triple {
	width: 74.8%;
}
.calculator-button-row {
	display: flex;
	align-content: stretch;
	justify-content: space-between;
	margin-bottom: 0.5%;
}
.calculator-button:last-child {
  background-color: #df974c;
  color: white;
}

.calculator-button:last-child:hover {
  background-color: #dfb07e;
}

.calculator-button:last-child:active {
  background-color: #dd8d37;
}
.calculator-button-row:last-child {
  padding-bottom: 0;
}